<div class="attendance-box container">
    <div class="team-member-medium-details">
        <span id="full-name-medium">{{firstName}} {{lastName}}</span>
        <span id="contact-no-medium">{{formatPhone _id}}</span>
    </div>

    <div class="attendance-button-container">
        <button class="fg-button button" id="present-button">
            <a class="fg-button-wrapper button-wrapper" href="#">
                <i class="lni lni-check"></i>
                <p>Present</p>
            </a>
        </button>

        <button class="fg-button button" id="absent-button">
            <a class="fg-button-wrapper button-wrapper" href="#">
                <i class="lni lni-xmark"></i>
                <p>Absent</p>
            </a>
        </button>
    </div>
</div>