<div class="info-container">
    <div class="event-header">
        <h3 class="info-title">Event name</h3>
        <p class="info-client">Client name</p>
    </div>
    <p class="info-date">Date</p>
    <p class="info-desc-header">Description</p>
    <p class="info-desc">Culpa sunt qui enim quis quis dolore labore aliquip qui eu veniam dolore officia officia veniam. Et nulla esse quis nostrud dolore ex nostrud esse. Laboris labore veniam ut. Duis laboris in id adipisicing et consequat sunt ullamco anim in sunt consequat irure ad. Irure occaecat est exercitation.</p>
    <div class="notif-footer">
        <p class="notif-expiry">Invitation expires in 3 days.</p>
        <div class="notif-controls">
            <button class="button">
                <i class="lni lni-thumbs-down-3"></i>
                <p>Not available</p>
            </button>

            <button class="button focus-button">
                <i class="lni lni-thumbs-up-3"></i>
                <p>Available</p>
            </button>
        </div>
    </div>
</div>