<div class="event-box container">
    <div class="event-box-top">
        <span id="event-name">Event Name</span>
        <span id="client-name">Client Name</span>
    </div>
    <div class="event-box-bottom">
        <span id="date">Date</span>
        <span>Description</span>
        <span id="description">Duis sunt dolor cupidatat incididunt magna eiusmod adipisicing 
            fugiat reprehenderit. Aute et dolore ullamco mollit ex laborum ea 
            magna consectetur minim reprehenderit fugiat aliqua cillum do. Sunt culpa 
            incididunt dolor Lorem velit qui officia deserunt elit incididunt duis cupidatat nisi do officia.</span>
    </div>
    <div class="notif-controls">
        <span class="notif-expiry">Invitation expires in 3 days.</span>
        <div class="notif-buttons">
            <button class="bg-button">
                <a class="bg-button-wrapper" href="#">
                    <i class="lni lni-thumbs-down-3"></i>
                    <p>Not available</p>
                </a>
            </button>

            <button class="fg-button">
                <a class="fg-button-wrapper" href="#">
                    <i class="lni lni-thumbs-up-3"></i>
                    <p>Available</p>
                </a>
            </button>
        </div>
    </div>
</div>