<div class="sunlight"></div>

<nav class="global-sidebar container">
    <section>
        <header class="logo">
            <div class="logo-image"></div>
            <h1 class="logo-text header">Team Hub</h1>
        </header>
    </section>

    <section>
        <ul class="nav-link-section">
            <a class="nav-link-wrapper" href="/upcoming-events">
                <li class="nav-link">
                    <i class="lni lni-calendar-days"></i>
                    <p>Upcoming events</p>
                </li>
            </a>
            <a class="nav-link-wrapper" href="/past-events">
                <li class="nav-link">
                    <i class="lni lni-alarm-1"></i>
                    <p>Past events</p>
                </li>
            </a>
            <a class="nav-link-wrapper" href="/team">
                <li class="nav-link">
                    <i class="lni lni-user-multiple-4"></i>
                    <p>Team</p>
                </li>
            </a>
        </ul>
    </section>

    <section>
        <ul class="nav-link-section">
            <a class="nav-link-wrapper" href="/notifications">
                <li class="nav-link notifications-page-link">
                    <i class="lni lni-bell-1"></i>
                    <p>Notifications</p>
                </li>
            </a>
            <a class="nav-link-wrapper" href="/profile">
                <li class="nav-link accounts-page-link">
                    <div class="profile-picture image"></div>
                    <div class="profile-info">
                        <p class="username">John Doe</p>
                        <p class="user-role">Manager</p>
                    </div>
                </li>
            </a>
        </ul>
    </section>
</nav>