<a href="/supplier/{{_id}}" class="team-member-card card"
    data-company-name="{{companyName}}"
>
    <div class="team-member-details">
        <span id="full-name">{{companyName}}</span>
    </div>
</a>