<button class="team-member-mini-card"
    data-id="{{_id}}"
    data-company="{{companyName}}"
    data-status="{{status}}"
    type="button"
>
    <span id="full-name">{{companyName}}</span>
   <i id="teamMiniAddButton" class="lni lni-plus"></i>
   <i id="teamMiniRemoveButton" class="lni lni-xmark"></i>
</button>
