<h2 class="header">Upcoming Events</h2>

<div class="event-list-top">
    <form role="search" class="search-bar">
        <button type="submit"><i class="lni lni-search-1"></i></button>
        <input type="search" name="q" placeholder="Search...">
    </form>

    {{#if showCreateButton}}
        <div class="fg-button button">
            <a class="fg-button-wrapper button-wrapper" href="#">
                <i class="lni lni-plus"></i>
                <p>Create</p>
            </a>
        </div>
    {{/if}}  
    </div>

<div class="upcoming-events-container">
    {{#each events}}
        {{>eventBox this}}
    {{else}}
        <p>No events found</p>
    {{/each}}
</div>