<div class="event-attendance card">
    <!-- Page 1: Team Attendance -->
    <div class="attendance-form" id="team-attendance" data-page="0">
        <h2 class="secondary-header">Team Members</h2>
        <div class="members-box">
            {{#if teamMembers.length}}
                {{#each teamMembers}}
                    {{> attendanceBox this role="team" attendance=attendance index=index}}
                {{/each}}
            {{else}}
                <p>Currently no members in this event.</p>
            {{/if}}
        </div>
    </div>

    <!-- Page 2: Supplier Attendance -->
    <div class="attendance-form" id="supplier-attendance" data-page="1">
        <h2 class="secondary-header">Suppliers</h2>
        <div class="members-box">
            {{#if suppliers.length}}
                {{#each suppliers}}
                    {{> attendanceBox this role="supplier" attendance=attendance index=index}}
                {{/each}}
            {{else}}
                <p>Currently no suppliers in this event.</p>
            {{/if}}
        </div>
    </div>
</div>

<div class="attendance-page-buttons">
    <button type="button" class="disabled-button bg-button button" id="form-back-button" disabled>
        <div class="button-wrapper">
            <i class="lni lni-arrow-left"></i>
            <p>Back</p>
        </div>
    </button>
    <button type="button" class="fg-button button" id="form-next-button">
        <div class="button-wrapper">
            <i class="lni lni-arrow-right"></i>
            <p>Next</p>
        </div>
    </button>
    <button type="button" class="fg-button button" id="submit-attendance">
        <div class="fg-button-wrapper button-wrapper">
            <i class="lni lni-check"></i>
            <p>Done</p>
        </div>
    </button>
</div>