<DIV class="form-wizard card">
    <form class="form" action="/create/createEvent" method="post">
        <div class="form-page-container">
            <div class="form-page">
                <h1 class="secondary-header">Event details</h1>
                <div class="form-row">
                    <div class="text-field-container">
                        <label class="field-label" for="event-name">Event name</label>
                        <input type="text" id="event-name" class="text-field" name="event-name" required>
                    </div>
                    <div class="text-field-container">
                        <label class="field-label" for="client-name">Client name</label>
                        <input type="text" id="client-name" class="text-field" name="client-name" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="text-field-container">
                        <label class="field-label" for="event-description">Description</label>
                        <textarea id="event-description" class="text-field" name="event-description" rows="6" required></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="text-field-container">
                        <label class="field-label" for="location">Location</label>
                        <input type="text" id="location" class="text-field" name="location" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="text-field-container">
                        <label class="field-label" for="start-date">Start date</label>
                        <input type="date" id="start-date" class="text-field" name="start-date" required>
                    </div>
                    <div class="text-field-container">
                        <label class="field-label" for="end-date">End date</label>
                        <input type="date" id="end-date" class="text-field" name="end-date" required>
                    </div>
                </div>
                <h1 class="secondary-header">Contact person</h1>
                <div class="form-row">
                    <div class="text-field-container">
                        <label class="field-label" for="contact-name">Name</label>
                        <input type="text" id="contact-name" class="text-field" name="contact-name" required>
                    </div>
                    <div class="text-field-container">
                        <label class="field-label" for="phone-number">Phone number</label>
                        <input type="text" id="phone-number" class="text-field" name="phone-number" required>
                    </div>
                </div>
            </div>
            <div class="form-page" id="team-members-page">
                <h1 class="secondary-header">Assign team members</h1>
                <div class="grid-container">
                    <h1 class="secondary-header">Search</h1>
                    <div role="search" class="search-bar" id="memberSearchForm">
                        <button type="submit"><i class="lni lni-search-1"></i></button>
                        <input type="search" name="q" id="memberSearchInput" placeholder="Search team members...">
                    </div>
                    <div class="team-mini-grid" id="memberSearchResults">
                        {{#each members}}
                            {{>teamMemberMini this}}
                        {{else}}
                            <p>No members currently</p>
                        {{/each}}
                    </div>
                </div>
                <div class="grid-container">
                    <h1 class="secondary-header">Added team members</h1>
                    <div class="team-mini-grid" id="addedMembers"></div>
                </div>
            </div>
            <div class="form-page" id="suppliers-page">
                <h1 class="secondary-header">Add suppliers</h1>
                <div class="grid-container">
                    <h1 class="secondary-header">Search</h1>
                    <div role="search" class="search-bar" id="supplierSearchForm">
                        <button type="submit"><i class="lni lni-search-1"></i></button>
                        <input type="search" name="q" id="memberSearchInput" placeholder="Search suppliers...">
                    </div>
                    <div class="team-mini-grid" id="supplierSearchResults">
                        {{#each suppliers}}
                            {{>supplierMini this}}
                        {{else}}
                            <p>No suppliers currently</p>
                        {{/each}}
                    </div>
                </div>
                <div class="grid-container">
                    <h1 class="secondary-header">Added suppliers</h1>
                    <div class="team-mini-grid" id="addedSuppliers"></div>
                </div>
            </div>
        </div>
        <div class="form-controls">
            <button type="button" class="bg-button button" id="form-cancel-button">
                <div class="button-wrapper">
                    <i class="lni lni-xmark"></i>
                    <p>Cancel</p>
                </div>
            </button>
            <button type="button" class="bg-button button" id="form-back-button">
                <div class="button-wrapper">
                    <i class="lni lni-arrow-left"></i>
                    <p>Back</p>
                </div>
            </button>
            <button type="button" class="fg-button button" id="form-next-button">
                <div class="button-wrapper">
                    <i class="lni lni-arrow-right"></i>
                    <p>Next</p>
                </div>
            </button>
            <button type="submit" class="fg-button button" id="form-submit-button" disabled>
                <div class="button-wrapper">
                    <i class="lni lni-check"></i>
                    <p>Create event</p>
                </div>
            </button>
        </div>
        <input type="hidden" id="added-members-input" name="addedMembers">
        <input type="hidden" id="added-suppliers-input" name="addedSuppliers">

    </form>
</DIV>