<div class="page-title-bar">
    <h2 class="header">Upcoming Events</h2>
</div>

<div class="top-page-bar">
    <form role="search" class="search-bar" id="eventSearchForm">
        <button type="submit"><i class="lni lni-search-1"></i></button>
        <input type="search" name="q" id="eventSearchInput" placeholder="Search events...">
    </form>

    {{#if showCreateButton}}
        <div class="fg-button button">
            <a class="fg-button-wrapper button-wrapper" href="/create/event">
                <i class="lni lni-plus"></i>
                <p>Create</p>
            </a>
        </div>
    {{/if}}
</div>

<div class="card-list">
    {{#each events}}
        {{> eventBox this}}
    {{else}}
        <p class="no-events-message">No events found</p>
    {{/each}}
</div>