<div class="sunlight"></div>

<div class="forgot-form container">
    <i class="lni lni-message-2-question forgot-icon"></i>
    <h1 class="header">Forgot your password?</h1>
    <p>
        If you have forgotten your password, you can send a request to a manager 
        to send you a temporary password so you can access your account.
    </p>
    <form class="login-input-form" action="/forgot-password" method="post">
        <input type="text" placeholder="Mobile number" name="number" class="login-field" />
        <button class="login-button button" type="submit">
            <i class="lni lni-envelope-1"></i>
            <p>Request password reset</p>
        </button>
    </form>

    <a href="/login"><b>Back to login</b></a>
</div>