<div class="sunlight"></div>

<div class="forgot-form container">
    <i class="lni lni-message-2-question forgot-icon"></i>
    <h1 class="header">Forgot your password?</h1>
    <p>
        If you have forgotten your password, you can send a request to a manager 
        to send you a temporary password so you can access your account.
    </p>
    <button class="login-button button">
        <a class="login-button-wrapper button-wrapper" href="#">
            <i class="lni lni-envelope-1"></i>
            <p>Request password reset</p>
        </a>
    </button>

    <a href="/login"><b>Back to login</b></a>
</div>