<div class="sunlight"></div>

<div class="login-form container">
    <section>
        <header class="logo">
            <div class="logo-image"></div>
            <h1 class="logo-text header">Team Hub</h1>
        </header>
    </section>

    <section>
        <h1 class="header">Welcome back</h1>
        <form class="login-input-form" method="POST" action="/login">
            <input type="text" placeholder="Mobile number" name="number" class="login-field" />
            <input type="text" placeholder="Password" name="password" class="login-field" />
            <button class="login-button button">
                <i class="lni lni-enter"></i>
                <p>Login</p>
            </button>
        </form>
    </section>

    <section class="forgot">
        <p>If you don't have an account yet, contact your manager.</p>
        <a href="/forgot-password"><b>Forgot your password?</b></a>
    </section>
</div>