{{>sidebar}}
<section class="main-content container">
    <h1 class="header"> Notifications </h1>
    <div class="notification-list">
        {{>notification}}
        {{>notification}}
        {{>notification}}
        {{>notification}}
        {{>notification}}
        {{>notification}}
        {{>notification}}
    </div>
</section>