<h1 class="header"> Notifications </h1>
</button>
<div class="upcoming-events-container">
    {{#each notifications}}
        {{> notification this}}
    {{else}}
        <p>No notifications available.</p>
    {{/each}}
</div>