<h1 class="header"> Notifications </h1>

</button>
<div class="upcoming-events-container">
    {{>notification}}
    {{>notification}}
    {{>notification}}
    {{>notification}}
    {{>notification}}
    {{>notification}}
    {{>notification}}
</div>