<h1 class="header"> Notifications </h1>
<form role="search" class="search-bar" id="eventSearchForm">
        <button type="submit"><i class="lni lni-search-1"></i></button>
        <input type="search" name="q" id="eventSearchInput" placeholder="Search events...">
</form>
<div class="upcoming-events-container">
    {{#each notifications}}
        {{> notification this}}
    {{else}}
        <p>No notifications available.</p>
    {{/each}}
</div>