<div id="resetPasswordPage" data-error="{{error}}">
<div class="card">
    <form class="edit-profile-details" action="/api/reset/password/{{resetUser._id}}" method="post">
        <div class="form-page-container">
            <div class="form-page">
                <h2 class="secondary-header">Reset password</h2>
                <label class="text-field-description">{{resetUser.firstName}} {{resetUser.lastName}} is requesting a password reset.</label>
                <div class="form-row">
                    <div class="text-field-container">
                        <div class="field-label-container">
                            <label class="field-label" for="new-password">New password</label>
                            <span class="error-text">*Required</span>
                        </div>
                        <input type="password" id="newPassword" class="text-field" name="new-password" required>
                        <label class="text-field-description" id="passLengthCheck" for="new-password">Your new password must contain at least 8 characters and not match your old one.</label>
                    </div>
                </div>
                <div class="form-controls">
                    <button type="submit" class="disabled-button fg-button button" id="changePasswordButton" disabled>
                        <div class="button-wrapper">
                            <i class="lni lni-unlocked-2"></i>
                            <p>Reset password</p>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>