{{>sidebar}}
<script src="/common/javascript/teamList.js"></script>
<section class="main-content container">
    <div class="page-title-bar">
        <h2 class="header">Team Members</h2>
    </div>

    <div class="top-page-bar">
        <form role="search" class="search-bar" method="GET" action="/teamList">
            <button type="submit"><i class="lni lni-search-1"></i></button>
            <input type="search" name="q" placeholder="Search..." value="{{searchQuery}}">
        </form>
        {{#if isManager}}
        <div id="addDropdown" class="dropdown">
            <i class="lni lni-plus"></i>
            <p>Add</p>
            <i class="lni lni-chevron-down dropdown-chevron"></i>
            <div class="dropdown-content">
                <a href="/create/member" class="dropdown-item">
                    <i class="lni lni-user-4"></i>
                    Team member
                </a>
                <a href="/create/supplier" class="dropdown-item">
                    <i class="lni lni-truck-delivery-1"></i>
                    Supplier
                </a>
            </div>
        </div>
        <div id="removeDropdown" class="dropdown">
            <i class="lni lni-trash-3"></i>
            <p>Remove</p>
            <i class="lni lni-chevron-down dropdown-chevron"></i>
            <div class="dropdown-content">
                <a href="/delete/user" class="dropdown-item">
                    <i class="lni lni-user-4"></i>
                    Team member
                </a>
                <a href="/delete/supplier" class="dropdown-item">
                    <i class="lni lni-truck-delivery-1"></i>
                    Supplier
                </a>
            </div>
        </div>
        {{/if}}
    </div>

    <div class="team-members-container">
        <section class="team-member-types">
            <h2 class="secondary-header">Managers</h2>
            <div class="members-box">
                {{#each managers}}
                    {{>teamMember this}}
                {{else}}
                    <p>No managers currently</p>
                {{/each}}
            </div>
        </section>

        <section class="team-member-types">
            <h2 class="secondary-header">Members</h2>
            <div class="members-box">
                {{#each members}}
                    {{>teamMember this}}
                {{else}}
                    <p>No members currently</p>
                {{/each}}
            </div>
        </section>
    </div>
</section>