{{>sidebar}}
<script src="/common/javascript/teamList.js"></script>
<section class="main-content container">
    <h2 class="header">Team Members</h2>

    <div class="team-list-top">
        <form role="search" class="search-bar" method="GET" action="/teamList">
            <button type="submit"><i class="lni lni-search-1"></i></button>
            <input type="search" name="q" placeholder="Search..." value="{{searchQuery}}">
        </form>
    </div>

    <div class="team-members-container">
        <h2 class="header2">Managers</h2>
        <div class="members-box">
            {{#each managers}}
                {{>teamMember this}}
            {{else}}
                <p>No managers currently</p>
            {{/each}}
        </div>

        <h2 class="header2">Members</h2>
        <div class="members-box">
            {{#each members}}
                {{>teamMember this}}
            {{else}}
                <p>No members currently</p>
            {{/each}}
        </div>
    </div>
</section>