.grid-controls {
    display: flex;
    gap: var(--small-gap);
}

.team-member-mini-card i#teamMiniAddButton {
    display: none;
}

.team-member-mini-card:hover {
    background-color: var(--primary-bg);
}

.event-controls {
    display: flex;
    gap: var(--small-gap);
}

.event-details {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 10;
    padding: var(--container-padding);
    background-color: var(--card-bg);
    gap: var(--big-gap);
}

#details-edit-button {
    margin-left: auto; 
    margin-right: 0;
}

.choice-buttons {
    gap: var(--small-gap);
    display: flex; 
    align-items: center;
}

#details-choices {
    margin-left: auto; 
    margin-right: 0;
}

#attendance-check-button {
    width: fit-content;
}

.attendance-button-wrap {
    display: flex;
    justify-content: flex-end;
}