body {
    margin: 0;
    display: flex;
    justify-content: center;
    user-select: none;
}

.forgot-form {
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--sidebar-fg);
    gap: var(--small-gap);
}

i.forgot-icon {
    font-size: 4rem;
    color: var(--accent-light);
}

@media screen and (max-width: 800px) {
    .forgot-form {
        width: 100vw;
    }
}