.notif-controls {
    display: flex;
    gap: var(--small-gap);
}

.notif-expiry {
    font-weight: 600;
    color: var(--accent-medium);
}

@media screen and (max-width: 800px) {
    .notif-controls {
        align-items: start;
        flex-direction: column;
    }

    .form-controls {
        width: 100%;
    }
}