.notif-controls {
    display: flex;
    justify-content: flex-end;
    gap: var(--small-gap);
    cursor: default;
}

.notif-button {
    display: inline;
}

.notif-expiry {
    font-weight: 600;
    color: var(--accent-medium);
}

@media screen and (max-width: 800px) {
    .notif-controls {
        align-items: start;
        flex-direction: column;
    }

    .form-controls {
        width: 100%;
    }
}