.notification-list {
    height: calc(100% - 3rem);
    overflow-y: scroll;
}

.notif-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notif-controls {
    display: flex;
    gap: var(--small-gap);
}

.notif-expiry {
    font-weight: 600;
    color: var(--accent-medium);
}