.members-box {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--small-gap);
}

.members-box p {
    color: var(--secondary-fg);
}

.team-members-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: var(--medium-gap);
}

.team-member-types {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
}

.card:hover {
    box-shadow: var(--card-shadow-hover);
    transition: box-shadow 0.25s ease;
}